@import './normalize.css';

$dark-blue: #1E3240;
$light-blue: #AFD4E2;
$default-font: "Mulish", sans-serif;


a{
    text-decoration: none;
    color: unset;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span{
    margin: 0;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 44px;
}

/* HEADER */
header{
    padding: 45px 0 0 0;
    background-color: $light-blue;
    margin: 0 auto;
    max-width: 1600px;

    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-desktop{
        ul{
            list-style: none;
            margin:0;
            padding: 0;
            display: flex;
            column-gap: 75px;
        }

        li{
            font-family: $default-font;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
    
        a{
            text-decoration: none;
            color: #1E3240;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                right: 100%;
                bottom: -3px;
                height: 2px;
                background-color: $dark-blue;
                transition: right 0.22s;
            }

            &:hover::after{
                right: 0;
            }
        }
    }

    .nav-mobile{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $light-blue;
        
        display: none;

        justify-content: center;
        align-items: center;
    
        ul{
            list-style: none;
            margin:0;
            padding: 0;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            
        }
        li{
            font-family: $default-font;
            text-transform: uppercase;
            text-align: center;
            font-size: 19px;
            font-weight: 600;
            
        }
    }

    .header-burger-menu{
        position: relative;
        height: 23px;
        width: 30px;
        background-color: unset;
        border: none;
        display:none;

        .burger-top{
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $dark-blue;
            transition: transform 0.3s;
        }
        .burger-mid{
            position: absolute;
            top:1/2;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $dark-blue;
            
        }
        .burger-bottom{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $dark-blue;
            transition: transform 0.3s;
        }
    }

}

/* HERO SECTION */
.hero{
    margin: 0 auto;
    max-width: 1600px;
    padding: 108px 0 175px 0;
    background-color: $light-blue;
    background-image: url('../images/heroBuilding.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto; 
    background-attachment:unset;
    

    .hero-inner{
        display: flex;

    }

    .hero-heading{
        font-family: $default-font;
        color: $dark-blue;
        font-size: 90px;
        max-width: 635px;
        font-weight: bold;
        line-height: 120%;
        cursor:default;
    }
    .hero-description-container{
        max-width: 635px;
        display:flex;
        justify-content: space-between;
        margin: 18px 0 0 0;
    }

    .hero-description{
        font-family: $default-font;
        color: $dark-blue;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        cursor:default;
    }

    .hero-description-buttons-container{
        display: flex;
        justify-content: space-between;
        max-width: 275px;
        margin: 32px 0 0 0;
    }

    .hero-projects-button{
        font-family: $default-font;
        font-size: 14px;
        line-height: 120%;
        font-weight: normal;
        color: #FFFFFF;
        background-color: $dark-blue;
        padding: 18px 24px;
        transition: scale 0.2s, background-color 0.4s;

        &:hover{
            
            box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1), 10px 10px 30px 4px rgba(45,78,255,0.15);
        }
        &:active{
            scale: 95%;
        }
    }
    .hero-contact-button{
        font-family: $default-font;
        font-size: 14px;
        line-height: 120%;
        font-weight: normal;
        color: $dark-blue;
        border: 2px $dark-blue solid;
        padding: 18px 24px;
        transition: color 0.4s, background-color 0.4s, scale 0.2s;
        


        &:hover{
            color: #FFFFFF;
            background-color: $dark-blue;
        }
        &:active{
            scale: 95%;
        }
    }
   
}

/* ABOUT SECTION */
.about-main{
    margin: 0 auto;
    max-width: 1600px;
    padding: 160px 0 140px 0;

    .about-inner{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;

        .about-left{
            width: 50%;

            .about-building-img{
               height: 500px;
               object-fit: cover;
            }
        }

        .about-right{
            width: 50%;
            max-width: 540px;
            .about-heading{
                font-family: $default-font;
                font-weight: bold;
                font-size: 48px;
                line-height: 120%;
                color: $dark-blue;
            }

            .about-description{
                font-family: $default-font;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: $dark-blue;
                margin: 40px 0 0 0;             
            }

            .about-statistic-container{
                display: flex;
                margin: 40px 0 0 0;
                column-gap: 45px;

                .about-statistic-heading{
                    font-family: $default-font;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 120%;
                    color: #407d93;  
                    text-transform: uppercase;       
                }

                .about-statistic-value{
                    font-family: $default-font;
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 120%;
                    color: $dark-blue;                      
                }
            }
        }
    }

}
 
/* PROJECTS SECTION */
.projects-main{
    padding: 40px 0 85px 0;
    .projects-inner{
        .projects-heading{
            font-family: $default-font;
            font-size: 48px;
            font-weight: bold;
            line-height: 120%;
            color: $dark-blue;
        }
        .projects-description{
            margin: 15px 0 0 0;
            font-family: $default-font;
            font-size: 18px;
            font-weight:normal;
            line-height: 120%;
            color: $dark-blue;
        }

        .swiper{
            margin: 75px 0 0 0;
            .swiper-wrapper{
               
                .swiper-slide{
                    
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    img{

                        object-fit: cover;
                    }
                    
                    
                    .swiper-slide-inner{
                        width: 350px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                       

                        .projects-slider-card-description{
                            
                            background-color: #FFFFFF;
                            width: 290px;
                            transform:translateY(-40px);
                            padding: 22px 0 22px 20px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            
                            .projects-slider-card-description-name{
                                font-family: $default-font;
                                font-size: 14px;
                                font-weight: bold;
                                line-height: 120%;
                                color: $dark-blue;
                                padding: 0 0 0 1px;
                                
                            }
                            .projects-slider-card-description-map{
                                margin: 6px 0 0 0;
                                display: flex;
                            }
                            .projects-slider-card-description-map-address{
                                font-family: $default-font;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 120%;
                                color: $dark-blue;
                            }
                        }
                    }
                    
                  
                }
            }
        }
    }
}

/* FEEDBACK SECTION */
.feedback-main{
    padding: 0 0 126px 0;
    .feedback-inner{
        overflow: hidden;
        .feedback-heading{
            font-family: $default-font;
            font-size: 48px;
            font-weight: bold;
            line-height: 120%;
            color: $dark-blue;
            text-align: center;
        }

        .swiper2{
            margin: 75px 0 0 0;
            
            .swiper-wrapper{
                
                .swiper-slide{
                    display: flex;
                    gap: 125px;
                    justify-content: center;
                    align-items: center;

                    .swiper2-img{
                        object-fit: cover;
                    }
                    .swiper-description{
                        cursor:default;
                        h4{
                            margin: 17px 0 0 0;
                            font-family: $default-font;
                            font-size: 32px;
                            font-weight: bold;
                            color: $dark-blue;
                        }
                        p{
                            margin: 17px 0 0 0;
                            font-family: $default-font;
                            font-size: 24px;
                            font-weight: 300;
                            line-height: 120%;
                            color: $dark-blue;
                        }
                        h5{
                            margin: 17px 0 0 0;
                            font-family: $default-font;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            color: $dark-blue;
                        }
                        h6{
                            margin: 4px 0 0 0;
                            font-family: $default-font;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 120%;
                            color: $dark-blue;
                        }
                    }
                }
            }
        }
    }
}




/* MEDIA SECTION */
@media(max-width:1280px){

    .hero{
        padding: 108px 0 200px 0;
        .hero-heading{
            font-size: 70px;
            
            
        }
        .hero-description-container{
            max-width: 300px;
            display: block;
          
        }
        .hero-arrow-container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            
        }
    }

    .about-main{
        .about-inner{
            .about-right{
                max-width: 500px;
            }
        }
    }

    .feedback-main{
        .feedback-inner{
            .swiper2{
                .swiper-wrapper{
                    .swiper-slide{
                        gap: 50px;
                    }
                }
            }
        }
    }
}

@media(max-width:965px){

    .hero{
        padding: 60px 0 100px 0;
        
        background-image:none;

        .hero-heading{
            max-width: 100%;
            text-align: center;
        }

        .hero-description-container{
            max-width: 100%;
            text-align: center;
        }
        .hero-description-buttons-container{
            max-width: 100%;
            justify-content: center;
            column-gap: 50px;
        }

        .hero-arrow-container{
            display: none;
        }
    }

    .about-main{
        padding: 100px 0 100px 0;
        .about-inner{
            .about-left{
                .about-building-img{
                    width: 350px;
                    height: 500px;
                }
            }
            .about-right{
                .about-heading{
                    font-size: 39px;                   
                }
                .about-description{
                    font-size: 16px;
                    margin: 35px 0 0 0;             
                }
                .about-statistic-container{
                    margin: 35px 0 0 0;

                    .about-statistic-value{
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .feedback-main{
        .feedback-inner{
            .feedback-heading{

                font-size: 39px;
           
            }
            .swiper2{
                .swiper-wrapper{
                    .swiper-slide{
                        gap: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:768px){

    header{
        .nav-desktop{
            display: none;
        }

        .header-burger-menu{
            display: block;
        }

    }
    
    .hero{
        .hero-heading{
            font-size: 50px;
        }
    }

    .about-main{
        .about-inner{
            gap: 35px;
            flex-wrap: wrap;
            .about-left{
                display: flex;
                justify-content: center;
                width: 100%;
                order: 2;

                .about-building-img{
                    width: unset;
                }
            }
            .about-right{
                order: 1;
                width: 100%;
                max-width: 965px;
                text-align: center;
                .about-statistic-container{
                    justify-content: center;
                }
            }
        }
    }

    .projects-main{
        .projects-inner{
            .projects-heading{
                text-align: center;
               
            }
            .projects-description{
                text-align: center;
            }
        }
    }

    .feedback-main{
        .feedback-inner{
            .swiper2{
                .swiper-wrapper{
                    .swiper-slide{
                        gap: 50px;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}

@media(max-width:600px){

    .hero{
        .hero-heading{
            font-size: 45px;
        }
        .hero-description{
            font-size: 15px;
        }
        
        .hero-projects-button{
            padding: 14px 18px;
        }
        .hero-contact-button{
            padding: 14px 18px;
        }

    }

    .about-main{
        .about-inner{
            .about-left{
                .about-building-img{
                    width: 290px;
                }
            }
            .about-right{
                .about-statistic-container{
                    column-gap: 30px;
                }
            }
            
        }
    }

    .projects-main{
        .projects-inner{
            .projects-heading{
                
                font-size: 39px;
            }
            .projects-description{
                text-align: center;
                font-size: 16px;
            }
        }
    }
}

@media(max-width:380px){
    
    .hero{
        padding: 40px 0 60px 0;
        .hero-heading{
            font-size: 33px;
        }
        .hero-description{
            font-size: 10px;
        }

    }

    .about-main{
        .about-inner{
            .about-left{
                display: none;
            }
            .about-right{
                .about-heading{
                    font-size: 33px;
                }
                .about-description{
                    margin: 30px 0 0 0;             
                }
                .about-statistic-container{
                    column-gap: 30px;
                    flex-wrap: wrap;
                    gap: 25px;
                }
            }
            
        }
    }

    .projects-main{

        .projects-inner{
            .swiper{
                .swiper-wrapper{
                    .swiper-slide-inner{
                        .swiper-slide{
                            width: 100%;
                            margin-right: 0;

                            img{
                                object-fit: cover;
                            }
                        } 

                    }
                }
            }
        }
    }

    .feedback-main{
        .feedback-inner{
            .swiper2{
                .swiper-wrapper{
                    .swiper-slide{
                        .swiper-description{
                            cursor:default;
                            h4{
                                
                                
                                font-size: 27px;
                                
                                
                            }
                            p{
                               
                                font-size: 20px;
                              
                            }
                            h5{
                                
                                font-size: 24px;
                              
                            }
                            h6{
                            
                                font-size: 18px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}