@import './normalize.css';
a {
  text-decoration: none;
  color: unset;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 44px;
}

/* HEADER */
header {
  padding: 45px 0 0 0;
  background-color: #AFD4E2;
  margin: 0 auto;
  max-width: 1600px;
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-desktop ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 75px;
}
header .nav-desktop li {
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
header .nav-desktop a {
  text-decoration: none;
  color: #1E3240;
  position: relative;
}
header .nav-desktop a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -3px;
  height: 2px;
  background-color: #1E3240;
  transition: right 0.22s;
}
header .nav-desktop a:hover::after {
  right: 0;
}
header .nav-mobile {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #AFD4E2;
  display: none;
  justify-content: center;
  align-items: center;
}
header .nav-mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
header .nav-mobile li {
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}
header .header-burger-menu {
  position: relative;
  height: 23px;
  width: 30px;
  background-color: unset;
  border: none;
  display: none;
}
header .header-burger-menu .burger-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1E3240;
  transition: transform 0.3s;
}
header .header-burger-menu .burger-mid {
  position: absolute;
  top: 1/2;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1E3240;
}
header .header-burger-menu .burger-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1E3240;
  transition: transform 0.3s;
}

/* HERO SECTION */
.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding: 108px 0 175px 0;
  background-color: #AFD4E2;
  background-image: url("../images/heroBuilding.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
  background-attachment: unset;
}
.hero .hero-inner {
  display: flex;
}
.hero .hero-heading {
  font-family: "Mulish", sans-serif;
  color: #1E3240;
  font-size: 90px;
  max-width: 635px;
  font-weight: bold;
  line-height: 120%;
  cursor: default;
}
.hero .hero-description-container {
  max-width: 635px;
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0 0;
}
.hero .hero-description {
  font-family: "Mulish", sans-serif;
  color: #1E3240;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  cursor: default;
}
.hero .hero-description-buttons-container {
  display: flex;
  justify-content: space-between;
  max-width: 275px;
  margin: 32px 0 0 0;
}
.hero .hero-projects-button {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 120%;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #1E3240;
  padding: 18px 24px;
  transition: scale 0.2s, background-color 0.4s;
}
.hero .hero-projects-button:hover {
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px 4px rgba(45, 78, 255, 0.15);
}
.hero .hero-projects-button:active {
  scale: 95%;
}
.hero .hero-contact-button {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 120%;
  font-weight: normal;
  color: #1E3240;
  border: 2px #1E3240 solid;
  padding: 18px 24px;
  transition: color 0.4s, background-color 0.4s, scale 0.2s;
}
.hero .hero-contact-button:hover {
  color: #FFFFFF;
  background-color: #1E3240;
}
.hero .hero-contact-button:active {
  scale: 95%;
}

/* ABOUT SECTION */
.about-main {
  margin: 0 auto;
  max-width: 1600px;
  padding: 160px 0 140px 0;
}
.about-main .about-inner {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.about-main .about-inner .about-left {
  width: 50%;
}
.about-main .about-inner .about-left .about-building-img {
  height: 500px;
  object-fit: cover;
}
.about-main .about-inner .about-right {
  width: 50%;
  max-width: 540px;
}
.about-main .about-inner .about-right .about-heading {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #1E3240;
}
.about-main .about-inner .about-right .about-description {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #1E3240;
  margin: 40px 0 0 0;
}
.about-main .about-inner .about-right .about-statistic-container {
  display: flex;
  margin: 40px 0 0 0;
  column-gap: 45px;
}
.about-main .about-inner .about-right .about-statistic-container .about-statistic-heading {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  color: #407d93;
  text-transform: uppercase;
}
.about-main .about-inner .about-right .about-statistic-container .about-statistic-value {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 120%;
  color: #1E3240;
}

/* PROJECTS SECTION */
.projects-main {
  padding: 40px 0 85px 0;
}
.projects-main .projects-inner .projects-heading {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
  color: #1E3240;
}
.projects-main .projects-inner .projects-description {
  margin: 15px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 120%;
  color: #1E3240;
}
.projects-main .projects-inner .swiper {
  margin: 75px 0 0 0;
}
.projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide img {
  object-fit: cover;
}
.projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-inner {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-inner .projects-slider-card-description {
  background-color: #FFFFFF;
  width: 290px;
  transform: translateY(-40px);
  padding: 22px 0 22px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-inner .projects-slider-card-description .projects-slider-card-description-name {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 120%;
  color: #1E3240;
  padding: 0 0 0 1px;
}
.projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-inner .projects-slider-card-description .projects-slider-card-description-map {
  margin: 6px 0 0 0;
  display: flex;
}
.projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-inner .projects-slider-card-description .projects-slider-card-description-map-address {
  font-family: "Mulish", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 120%;
  color: #1E3240;
}

/* FEEDBACK SECTION */
.feedback-main {
  padding: 0 0 126px 0;
}
.feedback-main .feedback-inner {
  overflow: hidden;
}
.feedback-main .feedback-inner .feedback-heading {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
  color: #1E3240;
  text-align: center;
}
.feedback-main .feedback-inner .swiper2 {
  margin: 75px 0 0 0;
}
.feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide {
  display: flex;
  gap: 125px;
  justify-content: center;
  align-items: center;
}
.feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper2-img {
  object-fit: cover;
}
.feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description {
  cursor: default;
}
.feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description h4 {
  margin: 17px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #1E3240;
}
.feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description p {
  margin: 17px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  color: #1E3240;
}
.feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description h5 {
  margin: 17px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: #1E3240;
}
.feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description h6 {
  margin: 4px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #1E3240;
}

/* CONTACT SECTION */
.contact-main {
  padding: 50px 0 100px 0;
}
.contact-main .contact-inner {
  display: flex;
  align-items: center;
  gap: 125px;
}
.contact-main .contact-inner .contact-form-container {
  max-width: 580px;
}
.contact-main .contact-inner .contact-form-container .contact-heading {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
  color: #1E3240;
}
.contact-main .contact-inner .contact-form-container .contact-description {
  margin: 10px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #1E3240;
}
.contact-main .contact-inner .contact-form-container .name {
  grid-area: namee;
  width: 250px;
  height: 45px;
  border: 2px solid #1E3240;
  padding-left: 18px;
}
.contact-main .contact-inner .contact-form-container .lastName {
  grid-area: last;
  width: 250px;
  height: 45px;
  border: 2px solid #1E3240;
  padding-left: 18px;
}
.contact-main .contact-inner .contact-form-container .email {
  grid-area: email;
  width: 250px;
  height: 45px;
  border: 2px solid #1E3240;
  padding-left: 18px;
}
.contact-main .contact-inner .contact-form-container .phone {
  grid-area: phone;
  width: 250px;
  height: 45px;
  border: 2px solid #1E3240;
  padding-left: 18px;
}
.contact-main .contact-inner .contact-form-container .form-first-group {
  margin: 35px 0 0 0;
  display: grid;
  grid-template-areas: "namee last" "email phone";
  column-gap: 30px;
  row-gap: 18px;
}
.contact-main .contact-inner .contact-form-container .form-second-group {
  margin: 18px 0 0 0;
}
.contact-main .contact-inner .contact-form-container .form-second-group textarea {
  width: 558px;
  height: 100px;
  padding: 18px 0 0 18px;
  border: 2px solid #1E3240;
}
.contact-main .contact-inner .contact-form-container .form-submit-group {
  display: flex;
  align-items: center;
  margin: 30px 0 0 0;
  column-gap: 42px;
}
.contact-main .contact-inner .contact-form-container .form-submit-group button {
  padding: 18px 24px 18px 24px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: #FFFFFF;
  background-color: #1E3240;
}
.contact-main .contact-inner .contact-form-container .form-submit-group p {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #1E3240;
}

/* MEDIA SECTION */
@media (max-width: 1280px) {
  .hero {
    padding: 108px 0 200px 0;
  }
  .hero .hero-heading {
    font-size: 70px;
  }
  .hero .hero-description-container {
    max-width: 300px;
    display: block;
  }
  .hero .hero-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .about-main .about-inner .about-right {
    max-width: 500px;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide {
    gap: 50px;
  }
  .contact-main .contact-inner {
    gap: 50px;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group {
    display: block;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group .lastName {
    margin-top: 10px;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group .email {
    margin-top: 10px;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group .phone {
    margin-top: 10px;
  }
  .contact-main .contact-inner .contact-form-container .form-second-group textarea {
    width: 360px;
  }
}
@media (max-width: 965px) {
  .hero {
    padding: 60px 0 100px 0;
    background-image: none;
  }
  .hero .hero-heading {
    max-width: 100%;
    text-align: center;
  }
  .hero .hero-description-container {
    max-width: 100%;
    text-align: center;
  }
  .hero .hero-description-buttons-container {
    max-width: 100%;
    justify-content: center;
    column-gap: 50px;
  }
  .hero .hero-arrow-container {
    display: none;
  }
  .about-main {
    padding: 100px 0 100px 0;
  }
  .about-main .about-inner .about-left .about-building-img {
    width: 350px;
    height: 500px;
  }
  .about-main .about-inner .about-right .about-heading {
    font-size: 39px;
  }
  .about-main .about-inner .about-right .about-description {
    font-size: 16px;
    margin: 35px 0 0 0;
  }
  .about-main .about-inner .about-right .about-statistic-container {
    margin: 35px 0 0 0;
  }
  .about-main .about-inner .about-right .about-statistic-container .about-statistic-value {
    font-size: 40px;
  }
  .feedback-main .feedback-inner .feedback-heading {
    font-size: 39px;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide {
    gap: 20px;
  }
  .contact-main .contact-inner {
    justify-content: center;
    text-align: center;
  }
  .contact-main .contact-inner .contact-left {
    display: none;
  }
  .contact-main .contact-inner .contact-form-container {
    width: 100%;
  }
  .contact-main .contact-inner .contact-form-container .form-submit-group {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  header .nav-desktop {
    display: none;
  }
  header .header-burger-menu {
    display: block;
  }
  .hero .hero-heading {
    font-size: 50px;
  }
  .about-main .about-inner {
    gap: 35px;
    flex-wrap: wrap;
  }
  .about-main .about-inner .about-left {
    display: flex;
    justify-content: center;
    width: 100%;
    order: 2;
  }
  .about-main .about-inner .about-left .about-building-img {
    width: unset;
  }
  .about-main .about-inner .about-right {
    order: 1;
    width: 100%;
    max-width: 965px;
    text-align: center;
  }
  .about-main .about-inner .about-right .about-statistic-container {
    justify-content: center;
  }
  .projects-main .projects-inner .projects-heading {
    text-align: center;
  }
  .projects-main .projects-inner .projects-description {
    text-align: center;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide {
    gap: 50px;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .hero .hero-heading {
    font-size: 45px;
  }
  .hero .hero-description {
    font-size: 15px;
  }
  .hero .hero-projects-button {
    padding: 14px 18px;
  }
  .hero .hero-contact-button {
    padding: 14px 18px;
  }
  .about-main .about-inner .about-left .about-building-img {
    width: 290px;
  }
  .about-main .about-inner .about-right .about-statistic-container {
    column-gap: 30px;
  }
  .projects-main .projects-inner .projects-heading {
    font-size: 39px;
  }
  .projects-main .projects-inner .projects-description {
    text-align: center;
    font-size: 16px;
  }
  .contact-main .contact-inner .contact-form-container .form-second-group textarea {
    width: 250px;
  }
  .contact-main .contact-inner .contact-form-container .form-submit-group {
    display: block;
  }
  .contact-main .contact-inner .contact-form-container .form-submit-group p {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 380px) {
  .hero {
    padding: 40px 0 60px 0;
  }
  .hero .hero-heading {
    font-size: 33px;
  }
  .hero .hero-description {
    font-size: 10px;
  }
  .about-main .about-inner .about-left {
    display: none;
  }
  .about-main .about-inner .about-right .about-heading {
    font-size: 33px;
  }
  .about-main .about-inner .about-right .about-description {
    margin: 30px 0 0 0;
  }
  .about-main .about-inner .about-right .about-statistic-container {
    column-gap: 30px;
    flex-wrap: wrap;
    gap: 25px;
  }
  .projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide-inner .swiper-slide {
    width: 100%;
    margin-right: 0;
  }
  .projects-main .projects-inner .swiper .swiper-wrapper .swiper-slide-inner .swiper-slide img {
    object-fit: cover;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description {
    cursor: default;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description h4 {
    font-size: 27px;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description p {
    font-size: 20px;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description h5 {
    font-size: 24px;
  }
  .feedback-main .feedback-inner .swiper2 .swiper-wrapper .swiper-slide .swiper-description h6 {
    font-size: 18px;
  }
  .contact-main .contact-inner {
    gap: 50px;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group {
    display: block;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group .name {
    width: 200px;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group .lastName {
    width: 200px;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group .email {
    width: 200px;
  }
  .contact-main .contact-inner .contact-form-container .form-first-group .phone {
    width: 200px;
  }
  .contact-main .contact-inner .contact-form-container .form-second-group textarea {
    width: 200px;
  }
}

/*# sourceMappingURL=styles.css.map */
