@import './normalize.css';

body{
    header{
        background-color: red;
        font-size:large;
        
       
    }

    footer{
        background-color: #fff;
        color: green;
        font-size: large;
    }
}